@page "/education"

<PageTitle>Education</PageTitle>

<div class="textcontainer">

	<div class="flexrow">
		<div class="left">
			<h1>Bachelor of Science in Computer Science</h1>
			<h2>CALIFORNIA STATE UNIVERSITY, LONG BEACH</h2>
			<h3>GPA: 3.7</h3>
		</div>
		<div class="right">
			<h1>2019 - 2023</h1>
		</div>


	</div>


</div>

@code {

}
