@page "/education"

<PageTitle>Education</PageTitle>

<div class="textcontainer">
	<h1>Bachelor of Science in Computer Science</h1>
	<div class="flexrow">
		<div class="left">
			<h2>CALIFORNIA STATE UNIVERSITY, LONG BEACH</h2>
		</div>
		<div class="right">
			<h2>2019 - 2023</h2>
		</div>


	</div>

	<h3>GPA: 3.7</h3>
</div>

@code {

}
