@page "/"

<PageTitle>About</PageTitle>

<div class="container">
	<div class="textcontainer">
		<div class="middle">
			<h1>Nathan Lai</h1>
		</div>

	</div>


	<img src="images/body_image.png" alt="Body Image" />
</div>






