@page "/"

<PageTitle>About</PageTitle>

<div class="container">
	<div class="textcontainer">
		<div class="middle">
			<h1>Nathan Lai</h1>
			<p>New grad searching for jobs in software engineering</p>
			<a href="https://github.com/nathan-lai-engineering"><h2>GitHub <span class="oi oi-link-intact" aria-hidden="true"></span></h2></a>
			<a href="https://www.linkedin.com/in/nathan-lai-cs/"><h2>LinkedIn <span class="oi oi-link-intact" aria-hidden="true"></span></h2></a>
			<h2>nlai274@gmail.com</h2>
		</div>

	</div>

	<img src="images/body_image.png" alt="Body Image" />
</div>






