html, body {
    overflow: hidden;
    height: 100%;
    overflow-y: hidden;
    margin: 0px;
    padding: 0px;
}

.container {
    display:flex;
    position:fixed;
    height: 100%;
    width: 100%;
    flex-direction: row;
    margin:0;
    padding:0;
    flex-wrap: wrap;
}

img {
    margin: 0 0 0 auto;
    padding: 0px;
    height: 80vh;
    width: auto;
    align-self:flex-end;
    float: right;
    overflow: hidden;
    object-fit:cover;
}