@page "/personal-projects"

<PageTitle>Personal Projects</PageTitle>

<div class="textcontainer">
	<div>
		<div class="flexrow">
			<div class="left">
				<h1>Discord Bot</h1>
				<h2>Personal</h2>
			</div>
			<div class="right">
				<h1>2023</h1>
			</div>
		</div>

		<p>
			Discord bot created using the Discord.js API with data hosted on Oracle Autonomous Database. <br />
			Modeled and documented Oracle Autonomous Database structure <br />
			Utilizes TikWM web API to convert posted links to uploaded video embeds <br />
			Utilizes Riot web API to post server member live game history
		</p>
	</div>

	<hr class="line" />

	<div>
		<div class="flexrow">
			<div class="left">
				<h1>Portfolio Website</h1>
				<h2>Personal</h2>
			</div>
			<div class="right">
				<h1>2023</h1>
			</div>
		</div>
		<p>
			Personal portfolio website written in C# using ASP.NET Core Blazor hosted on Microsoft Azure as a Static Web App
		</p>
	</div>

	<hr class="line" />

	<div>
		<div class="flexrow">
			<div class="left">
				<h1>FeastReview</h1>
				<h2>University Senior Project</h2>
			</div>
			<div class="right">
				<h1>2022 - 2023</h1>
			</div>
		</div>
		<p>
			Senior programming team project around restaurant reviews heavily inspired by Yelp with improvements <br />
			Created using React Native Javascript framework along with Android Studio emulators <br />
			Uses Yelp Fusion for data retrieval, and Firebase Firestore, Storage and Authentication for data storage
		</p>
		<div class="flexrow">
			<div class="image-div">
				<img src="images/feastreview_1.png" alt="FeastReview Image" />
				<p>Searches using Yelp Fusion API</p>
			</div>
			<div class="image-div">
				<img src="images/feastreview_2.png" alt="FeastReview Image" />
				<p>Restaurant page with Most <br />
					Review Mentions using <br />
					Natural Language Processing</p>
			</div>
			<div class="image-div">
				<img src="images/feastreview_3.png" alt="FeastReview Image" />
				<p>Restaurant reviews</p>
			</div>
			<div class="image-div">
				<img src="images/feastreview_4.png" alt="FeastReview Image" />
				<p>Personal profile pages</p>
			</div>

		</div>
	</div>

	<hr class="line" />

	<div>
		<div class="flexrow">
			<div class="left">
				<h1>Cody the Crab</h1>
				<h2>BeachHacks 2021 Hackathon</h2>
			</div>
			<div class="right">
				<h1>2021</h1>
			</div>
		</div>

		<p>
			Discord bot created in Python using Discord.py focused on managing academic servers as a team submission for BeachHacks 2021 <br />
			Stores data using Firestore database
		</p>

	</div>

	<hr class="line" />

	<div>
		<div class="flexrow">
			<div class="left">
				<h1>Ration Bytes</h1>
				<h2>LAHacks 2020 Hackathon</h2>
			</div>
			<div class="right">
				<h1>2021</h1>
			</div>
		</div>

		<p>
			iOS mobile application created in Javacript using React Native and Expo as a team submission for LAHacks 2020<br />
			Keeps track of inventory and expiration dates intended for use during quarantine
		</p>

	</div>

	<hr class="line" />

	<div>
		<div class="flexrow">
			<div class="left">
				<h1>Objective Koala</h1>
				<h2>HackSC 2020 Hackathon</h2>
			</div>
			<div class="right">
				<h1>2020</h1>
			</div>
		</div>

		<p>
			Website focused on JavaScript game created as a team submission for HackSC 2020 <br />
			Winner of Xpring’s sustainability challenge <br />
			Created using Bootstrap, JavaScript, CSS, and HTML <br />
			Demonstrates use of web development and object-orientated design
		</p>
		<div>
			<div class="image-div">
				<img class="single-img" src="images/objective_koala.png" alt="Objective Koala image"/>
				<p>Object Koala game website</p>
			</div>
		</div>

	</div>

	<hr class="line" />

	<div>
		<div class="flexrow">
			<div class="left">
				<h1>Kinematics Calculator</h1>
				<h2>Personal</h2>
			</div>
			<div class="right">
				<h1>2019</h1>
			</div>
		</div>

		<p>
			My first ever code project, created in Java using Swing for graphical interface <br />
			Calculates values using kinematics equations learned in mechanics in physics

		</p>

	</div>
</div>
