@page "/skills"

<PageTitle>Skills</PageTitle>

<div class="textcontainer">
	<h2>PROGRAMMING LANGUAGES</h2>
	<ul>
		<li>Python</li>
		<li>JavaScript</li>
		<li>Java</li>
		<li>C++</li>
		<li>HTML / CSS</li>
		<li>C#</li>
	</ul>

	<h2>FRAMEWORKS</h2>
	<ul>
		<li>.NET</li>
		<li>React Native</li>
	</ul>

	<h2>DATABASES</h2>
	<ul>
		<li>MySQL</li>
		<li>Oracle</li>
		<li>Firebase</li>
	</ul>
</div>





@code {

}
