@page "/work-experience"

<PageTitle>Experience</PageTitle>


<div style="margin:5%">
	<div class="flexrow">
		<div class="left">
			<h1>Research Assistant</h1>
			<h2>CSULB Research Foundation</h2>
		</div>
		<div class="right">
			<h1>2020 - 2022</h1>
		</div>
	</div>

	<p>
		Contributed as co-author in the following paper published in Journal of Transport & Health <br />
		<a href="https://arxiv.org/abs/2205.06116?context=cs">
			A. Tavakoli, N. Lai, V. Balali, A. Heydarian. “How Are Drivers' Stress Levels And Emotions Associated With The Driving Context? A Naturalistic Study” <span class="oi oi-link-intact" aria-hidden="true"></span>
		</a>
		<br />
		<br />
		Assisted Dr. Vahid Balali in collaboration with the University of Virgina’s Link Lab in research <br />
		Created a Python program that allows for accurate detection of traffic signs using YOLOv5 and EasyOCR <br />
		Trained a computer vision model using YOLOv5 machine learning on the LISA and COCO datasets <br />
		Created a Python program using MASK-RCNN and YOLOP to detect cars, their lanes, and distance
	</p>
	<div class="flexrow">
		<div class="left" style="text-align:center;">
			<a href="https://github.com/nathan-lai-engineering/sign-detection">
				<h3>Sign Detection <span class="oi oi-link-intact" aria-hidden="true"></span></h3>
			</a>
			<img src="images/signdetection.PNG" alt="Body Image" />
		</div>
		<div class="right" style="text-align:center;">
			<a href="https://github.com/nathan-lai-engineering/lane-detection">
				<h3>Lane Detection <span class="oi oi-link-intact" aria-hidden="true"></span></h3>
			</a>
			<img src="images/lanedetection.PNG" alt="Body Image" />
		</div>
	</div>
</div>

@code {

}
