@page "/work-experience"

<PageTitle>Work Experience</PageTitle>

<h1>Student Assistant 2020 - 2022</h1>
<h2>CSULB Research Foundation</h2>

<p>
	Assisted Dr. Vahid Balali in collaboration with the University of Virgina’s Link Lab in researching a quantifiable relationship between emotions and road conditions
	Created a Python program that allows for accurate detection of traffic signs using YOLOv5 and EasyOCR
	Trained a computer vision model using YOLOv5 machine learning on the LISA and COCO datasets
	Created a Python program using MASK-RCNN and YOLOP to detect cars, their lanes, and distance
</p>


@code {

}
